button, input {
    overflow: visible;
}

select {
    text-transform: none;
}
input, select{
    margin: 0;
}

.field {
    display: inline-block;
    margin: 15px 0 0 0;
    width: 240px;
    position: relative;
    vertical-align: top;
}
.field.w100{
    width: 100%;
}
.field.w124{
    width: 124px;
}
.field.w167{
    width: 167px;
}
.field.w280{
    width: 280px;
}
.field.w-auto{
    width: auto;
}
.field.date-range:before{
    position: absolute;
    top: 50%; left: 15px;
    margin: -9px 0 0 0;
    font-size: 18px;
    color: #458ab6;
}

.field.checkbox {
    font-size: 14px;
    color: #80859c;
}

.form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    padding: 2px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.field.date-range .form-control {
    padding-left: 45px;
}

.form-control.textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 110px;
    resize: none;
    line-height: 20px;
    overflow: hidden;
}

.form-control::-moz-placeholder {
    color: #d2d9de;
}
.form-control:-moz-placeholder {
    color: #d2d9de;
}
.form-control:-ms-input-placeholder {
    color: #d2d9de;
}

.form-control[readonly] {
    border-color: $color-border !important;
}

.form-control:focus {
    border-color: #000;
}

.error .form-control {
    border-color: #cc0000;
}

.btn{
    display: inline-block;
    padding: 6px 12px;
    height: 40px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.btn-group>.btn {
    position: relative;
    float: left;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.caret:before{
    display: inline-block!important;
    color: #458ab6;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}
.dropdown-menu li {
    position: relative;
}
.dropdown-menu > li > a {
    padding: 9px 20px;
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.open>.dropdown-menu {
    display: block;
}
.bootstrap-select{
    position: relative;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    box-sizing: border-box;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    margin-top: -10px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    position: relative;
    top: 3px;
}

.buttons {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}
.button-form {
    display: inline-block;
    margin: 10px 0 10px 5px;
    padding: 0 20px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #fff;
    border: none;
    box-sizing: border-box;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;    
}
.button-form.w100{
    width: 100%;
    margin: 0;
    text-align: center;
}
.button-form.large{
    padding: 10px;
    font-size: 18px;
    height: 55px;
}
.button-form:hover {
    -webkit-opacity: .8;
    opacity: .8;
}

.button-form.ok {
    background: #7dcb61;
}
.button-form.cancel {
    background: #80859c;
}
.button-form.remove {
    background: #e86462;
}
.button-form.info {
    background: #458ab6;
}

.button-form.disable {
    display: none;
}

.button-form:first-child {
    margin-left: 0;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox {
    padding-left: 20px;
}
.checkbox input[type="checkbox"], .radio input[type="radio"]{
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.checkbox label {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    font-size: 14px;
}
.checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-top-color: rgba(120, 130, 140, 0.13);
    border-right-color: rgba(120, 130, 140, 0.13);
    border-bottom-color: rgba(120, 130, 140, 0.13);
    border-left-color: rgba(120, 130, 140, 0.13);
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    top: -3px;
    margin-left: -20px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 18px;
    outline: none !important;
}
.checkbox label::after {
    color: #1b1d23;
    display: inline-block;
    font-size: 15px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 4px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    content: "🗸";
    font-family: 'FontAwesome';
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #ffffff;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #458ab6;
    border-color: #458ab6;
}
.selectpicker-multi{
    cursor: pointer;
    position: relative;
}
.selectpicker-multi:before{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -0.5em!important;
    color: #458ab6;
    font-size: 18px;
}
.selectpicker-multi-text{
    display: block;
    padding-top: 8px;
    height: 100%;
}
.selectpicker-multi-content{
    position: absolute;
    width: calc(100% + 2px);
    left: -1px;
    top: 39px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f8f8f8;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
    cursor: default;
    display: none;
}
.selectpicker-multi-content > *{
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    height: 35px;
    padding: 8px 10px;
    text-align: center;
    box-sizing: border-box;
}
.selectpicker-multi-content > *:last-child{
    border-bottom: none;
}
.selectpicker-multi-content .minus-button, .selectpicker-multi-content .plus-button{
    position: absolute;
    font-size: 25px;
    top: 0;
}
.selectpicker-multi-content .plus-button{
    right: 10px;
}
.selectpicker-multi-content .minus-button.clickable, .selectpicker-multi-content .plus-button.clickable{
    color: #458ab6;
    cursor: pointer;
}
.ui-menu .ui-menu-item-wrapper{
    font-size: 13px;
    padding-left: 10px;
}