@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic");
@font-face {
  font-family: 'spasibo';
  src: url("../fonts/spasibo.eot?22140539");
  src: url("../fonts/spasibo.eot?22140539#iefix") format("embedded-opentype"), url("../fonts/spasibo.woff2?22140539") format("woff2"), url("../fonts/spasibo.woff?22140539") format("woff"), url("../fonts/spasibo.ttf?22140539") format("truetype"), url("../fonts/spasibo.svg?22140539#grad") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  outline: none !important;
  text-decoration: none;
  letter-spacing: .05em;
}

html {
  height: 100%;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
  background: #fff;
  font-size: 10px;
  color: #000000;
}

body {
  height: 100%;
  padding: 0;
  min-height: 100%;
  min-height: 700px;
}

/*иконки*/
[class^="icon-"]:before,
[class*=" icon-"]:before,
.caret:before,
.date-range:before,
.selectpicker-multi:before {
  font-family: "spasibo";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  margin: 0 auto;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before,
.date-range:before {
  content: '\e800';
}

/* '' */
.icon-search:before {
  content: '\e801';
}

/* '' */
.icon-up-open:before {
  content: '\e802';
}

/* '' */
.icon-down-open:before,
.caret:before,
.selectpicker-multi:before {
  content: '\e803';
}

/* '' */
.icon-edit:before {
  content: '\e804';
}

/* '' */
.icon-export:before {
  content: '\e805';
}

/* '' */
.icon-tag:before {
  content: '\e806';
}

/* '' */
.icon-lock:before {
  content: '\e807';
}

/* '' */
.icon-bed:before {
  content: '\e808';
}

/* '' */
.icon-channels:before {
  content: '\e809';
}

/* '' */
.icon-child:before {
  content: '\e80a';
}

/* '' */
.icon-cleaning:before {
  content: '\e80b';
}

/* '' */
.icon-guests:before {
  content: '\e80c';
}

/* '' */
.icon-housing:before {
  content: '\e80d';
}

/* '' */
.icon-finans:before {
  content: '\e80e';
}

/* '' */
.icon-logout:before {
  content: '\e80f';
}

/* '' */
.icon-main:before {
  content: '\e810';
}

/* '' */
.icon-open:before {
  content: '\e811';
}

/* '' */
.icon-products:before {
  content: '\e812';
}

/* '' */
.icon-rates_tree:before {
  content: '\e813';
}

/* '' */
.icon-rates:before {
  content: '\e814';
}

/* '' */
.icon-report:before {
  content: '\e815';
}

/* '' */
.icon-reservation:before {
  content: '\e816';
}

/* '' */
.icon-settings:before {
  content: '\e817';
}

/* '' */
.icon-tabl:before {
  content: '\e818';
}

/* '' */
.icon-tasks:before {
  content: '\e819';
}

/* '' */
.icon-edit-1:before {
  content: '\e81a';
}

/* '' */
.icon-mail:before {
  content: '\e81b';
}

/* '' */
.icon-money:before {
  content: '\f0d6';
}

/* '' */
.icon-coffee:before {
  content: '\f0f4';
}

/* '' */
.icon-food:before {
  content: '\f0f5';
}

/* '' */
.icon-male:before {
  content: '\f183';
}

/* '' */
.icon-commenting:before {
  content: '\f27a';
}

/* '' */
/*END иконки*/
/*основной каркас*/
#body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 0;
  background: #f1f2f7;
  min-width: 1000px;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.preloader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.load #body {
  visibility: hidden;
}

.load .preloader {
  display: block;
}

#body_margin {
  padding-top: 73px;
}

.clr {
  display: block;
  clear: both;
}

.table {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
}

.table .cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.header {
  position: fixed;
  z-index: 500;
  left: 60px;
  top: 0;
  right: 0;
  height: 50px;
  min-width: 1000px;
  background: #458ab6;
  font-size: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header .left {
  float: left;
}

.header .right {
  float: right;
}

.header .add-booking {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 0 20px;
  height: 50px;
  background: #7bca5e;
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .add-booking:hover {
  background: #6dc04e;
}

.header .button {
  display: block;
  position: relative;
  z-index: 3;
  float: left;
  background: transparent;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.header .button .badge {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 0;
  width: 15px;
  height: 15px;
  color: #fff;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.header .button .badge.orange {
  background: #ed9d3e;
}

.header .button .badge.red {
  background: #e76462;
}

.header .button .badge.green {
  background: #99d683;
}

.header .icon {
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin: -7px 0 0 -7px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #fff;
}

.header .search-form {
  display: block;
  position: relative;
  float: left;
  height: 50px;
}

.header .search-form .input-text {
  display: block;
  margin: 0;
  padding: 0 60px 0 20px;
  width: 180px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  font-family: Roboto;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.header .search-form .input-text:focus {
  width: 270px;
}

.header .search-form .input-text::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.header .search-form .input-text::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.header .search-form .input-text:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.header .search-form .input-text:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.header .search-form .submit {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  border: none;
  background: none;
  font-size: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .search-form .submit:hover {
  opacity: .8;
}

.header .user {
  display: block;
  position: relative;
  float: left;
  height: 50px;
  margin: 0;
  padding: 0 60px 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  line-height: 50px;
  color: #fff;
}

.header .user .logout {
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 31px;
  height: 100%;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .user .logout:hover {
  background: rgba(0, 0, 0, 0.1);
}

.sidebar {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  margin: 0;
  background: #303340;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar .hotel {
  display: block;
  position: relative;
  margin: 0;
  height: 50px;
  overflow: hidden;
}

.sidebar .hotel .logo {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

.sidebar .hotel .name {
  display: block;
  margin: 0 0 0 60px;
  width: 180px;
  height: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar .menu {
  margin: 0;
  overflow: hidden;
}

.sidebar .menu a {
  display: block;
  position: relative;
  padding: 0 0 0 60px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  color: #888ea6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar .menu a:hover {
  background: rgba(27, 29, 35, 0.4);
}

.sidebar .menu a.active {
  color: #417fa7;
  background: #1b1d23;
  cursor: default;
}

.sidebar .menu a.sidebar-toggle {
  background: #80859c;
}

.sidebar .menu a.sidebar-toggle:hover {
  background: rgba(128, 133, 156, 0.8);
}

.sidebar .menu .text {
  display: block;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar .menu .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  margin: -11px 0 0 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar .menu .icon-open {
  color: #fff;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
}

.sidebar-open .header {
  left: 240px;
}

.sidebar-open .sidebar {
  width: 240px;
}

.sidebar-open .sidebar .menu .text {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  opacity: 1;
}

.sidebar-open .sidebar .menu .icon-open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar-open .sidebar .hotel .name {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  opacity: 1;
}

.sidebar-open .wrapper {
  margin-left: 240px;
}

.sidebar-right {
  display: block;
  position: fixed;
  z-index: 300;
  right: -325px;
  top: 50px;
  bottom: 0;
  margin: 0;
  padding: 1px 0;
  width: 325px;
  background: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar-right .caption {
  position: relative;
  margin: 50px 20px 0 20px;
  padding: 0 35px 0 0;
}

.sidebar-right .caption p {
  margin: 5px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
}

.sidebar-right .caption p.date {
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.sidebar-right .close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  background: url(../images/ico-close-sidebar.png) no-repeat;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-right .close:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  opacity: 0.8;
}

.sidebar-right-open .wrapper {
  margin-right: 325px;
}

.sidebar-right-open .sidebar-right {
  right: 0;
}

.wide-sidebar {
  display: inline-block;
  vertical-align: top;
  margin: 0px 65px 15px 0px;
  width: 100%;
}

.wide-sidebar .phone {
  width: 49%;
  position: relative;
}

.wide-sidebar .phone label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 13px;
  color: #555;
}

.wide-sidebar .phone input {
  padding-left: 35px;
}

.wide-sidebar .email {
  width: 49%;
  float: right;
}

.wide-sidebar .calculate-form {
  border: 1px solid #e1e1e1;
  margin-top: 40px;
}

.wide-sidebar .caption {
  font-size: 24px;
  font-weight: normal;
  background-color: #f8f8f8;
  padding: 25px 20px;
  margin: 0;
  border-bottom: 1px solid #e1e1e1;
}

.wide-sidebar .options > .option {
  margin-bottom: 5px;
  font-size: 18px;
}

.wide-sidebar .options > .option.option-title {
  margin-bottom: 15px;
}

.wide-sidebar .options {
  padding: 30px 20px 20px;
  border-bottom: 1px solid #e1e1e1;
}

.wide-sidebar .option-description * {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  color: #80859c;
  font-size: 14px;
}

.wide-sidebar .option-description .option-price {
  color: #000;
  font-weight: bold;
}

.wide-sidebar .total-price {
  padding: 20px 20px 15px;
}

.wide-sidebar .total-price * {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  color: #80859c;
  font-size: 24px;
  padding-top: 6px;
}

.wide-sidebar .total-price .price {
  font-size: 36px;
  color: #458ab6;
  float: right;
  margin-top: -10px;
}

.wide-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-bottom: 15px;
}

.wide-content .checkbox-search {
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
  padding-top: 5px;
}

.wide-content .apartment {
  border: 1px solid #e1e1e1;
  margin-top: 20px;
}

.wide-content .caption {
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  margin: 0;
}

.wide-content .caption-mini {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.wide-content .description {
  background-color: #f8f8f8;
  padding: 20px 15px 15px;
}

.wide-content .description .field {
  position: relative;
  padding-left: 30px;
}

.wide-content .description .field > * {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #80859c;
}

.wide-content .description .demo-icon {
  color: #458ab6;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
}

.wide-content .description .body-info .field {
  padding-left: 20px;
}

.wide-content .inclusive {
  width: 280px;
}

.wide-content .add-place {
  width: 115px;
  padding-left: 20px;
}

.wide-content .count-apartment {
  width: 115px;
  padding-left: 20px;
}

.wide-content .price-apartment {
  width: 145px;
  padding-left: 15px;
}

.wide-content .title-info {
  margin-top: 25px;
  margin-bottom: 15px;
}

.wide-content .title-info * {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
}

.wide-content .body-info > * {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  border-right: 1px solid #e1e1e1;
}

.wide-content .body-info {
  background-color: #fff;
  margin-top: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.wide-content .body-info .demo-icon {
  font-size: 12px;
  margin-top: -6px;
}

.wide-content .body-info .inclusive {
  width: 270px;
}

.wide-content .body-info .add-place, .wide-content .body-info .count-apartment, .wide-content .body-info .price-apartment {
  padding: 10px 25px 0px;
}

.wide-content .body-info .price-apartment {
  width: 135px;
  border-right: none;
  font-size: 18px;
  font-weight: bold;
}

.wrapper {
  margin: 0 0 0 60px;
  padding: 80px 30px 30px 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: Roboto !important;
  font-weight: 300;
  color: #000 !important;
  /*background: url(../images/pxl-black-50.png) repeat !important;*/
  background: white !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -khtml-border-radius: 5px !important;
  border-radius: 5px !important;
  border: none !important;
  margin-top: 50px !important;
  margin-left: 50px !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -ms-transition: all 0 ease;
  transition: all 0 ease;
}

body .ui-tooltip {
  border-width: 0px;
}

.loadable-content.load {
  background: #fff url(../images/load.gif) center center no-repeat !important;
}

.loadable-content.load * {
  visibility: hidden;
}

.content {
  position: relative;
  z-index: 100;
  margin: 0 0 30px 0;
  padding: 0 20px;
  border: 1px solid #e1e1e1;
  background: #fff;
  box-sizing: border-box;
}

.content .table-panel {
  margin-top: 5px;
  max-width: 100%;
  overflow: auto;
}

.content h1 {
  margin-left: 0;
  margin-bottom: 35px;
}

.w1155 {
  width: 1155px;
}

.w1155 .wide-sidebar {
  width: 355px;
}

.w1155 .wide-content {
  width: 700px;
}

/*END основной каркас*/
/* Панель поиска */
.search-panel .search-panel-element {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  width: 20%;
  max-width: 250px;
}

.search-panel .search-panel-element.date-range input {
  padding-left: 35px;
}

.search-panel .search-panel-element.date-range:before {
  position: absolute;
  margin: 15px;
  color: #458ab6;
}

.search-panel .search-panel-element {
  position: relative;
}

/*Конец панель поиска*/
/*Datepicker с диапазоном значений*/
.daterangepicker {
  display: none;
}

.daterangepicker .table-condensed .prev {
  background: url("../images/ico-calendar-arrow-left.png") transparent no-repeat center;
  background-size: 7px;
}

.daterangepicker .table-condensed .next {
  background: url("../images/ico-calendar-arrow-right.png") transparent no-repeat center;
  background-size: 7px;
}

.daterangepicker .input-mini {
  max-width: 210px;
}

.daterangepicker .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid transparent;
}

.daterangepicker .ranges {
  display: none;
}

.daterangepicker .calendar.right {
  display: none;
}

.daterangepicker .daterangepicker_input {
  display: none;
}

.daterangepicker td.in-range {
  background-color: #c8e3f5;
}

.daterangepicker td.active {
  background-color: #458ab6;
}

.daterangepicker td.off {
  visibility: hidden;
}

/*Конец Datepicker с диапазоном значений*/
/*Таблицы*/
.table.dataTable {
  border-color: #c3c3c3;
  margin-top: 0;
}

.table.dataTable thead td {
  border-bottom: none;
  color: #6c6c6c;
  font-weight: bold;
}

.table.dataTable thead td.sortable {
  white-space: nowrap;
}

.table.dataTable thead td.sortable i {
  display: block;
}

.table.dataTable thead td.sortable .icon-up-open {
  margin-bottom: -8px;
}

.table.dataTable thead td.sortable .icon-down-open {
  position: relative;
  top: 3px;
}

.table.dataTable thead td.sortable > span {
  display: inline-block;
}

.table.dataTable thead td.sortable:hover {
  background-color: #bdddf3;
  cursor: pointer;
}

.table.dataTable thead td.sortable.sort-asc .icon-up-open {
  margin-top: 0px;
}

.table.dataTable thead td.sortable.sort-asc .icon-down-open {
  display: none;
}

.table.dataTable thead td.sortable.sort-desc .icon-up-open {
  display: none;
}

.table.dataTable thead td.sortable.sort-desc .icon-down-open {
  margin-top: 0px;
}

.table.dataTable thead .demo-icon {
  display: inline-block;
  margin-left: 10px;
}

.table.dataTable tbody tr:nth-child(odd) {
  background-color: #f4f8fb;
}

.table.dataTable tbody tr:hover {
  background-color: #bdddf3;
  cursor: pointer;
}

.table.dataTable tbody .source .source-image {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.table.dataTable td {
  padding: 15px;
  font-size: 14px;
}

.table.dataTable td span.green {
  color: #6bb251;
}

.table.dataTable td span.red {
  color: #e76462;
}

/*Конец стилей для таблиц*/
/*типографика*/
.bt {
  border-top: 1px solid #e1e1e1 !important;
}

.nowrap {
  white-space: nowrap !important;
}

/*отступы*/
.mt-0 {
  margin-top: 0 !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

/*ширина*/
.w100 {
  width: 100% !important;
}

/*выравнивание текста*/
.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

/*выравнивание блоков*/
.float-left {
  float: left !important;
}

.float-none {
  float: none !important;
}

.float-right {
  float: right !important;
}

h1 {
  margin: 25px 20px 0 20px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

/*END типографика*/
/*шахматка*/
.chess {
  position: relative;
  z-index: 100;
  margin: 0 0 30px 0;
  padding: 0;
  border: 1px solid #e1e1e1;
  background: #fff;
  box-sizing: border-box;
}

.chess .chess-sidebar {
  display: block;
  position: relative;
  z-index: 100;
  float: left;
  margin: 0;
  width: 235px;
  border-right: 1px solid #e1e1e1;
  box-sizing: border-box;
  background: #fff;
}

.chess .chess-content {
  margin: 0 0 0 235px;
  position: relative;
  z-index: 100;
  overflow-x: auto;
  background: #fff;
}

.chess .scroll-content {
  margin: 0;
  padding: 0;
}

.chess .row {
  display: block;
  border-top: 1px solid #e1e1e1;
  position: relative;
  z-index: 5;
  height: 34px;
  overflow: hidden;
}

.chess .row .cell {
  display: block;
  position: relative;
  z-index: 5;
  margin: 0;
  float: left;
  width: 120px;
  height: 34px;
  border-left: 1px solid #e1e1e1;
  box-sizing: border-box;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  transition: 0s;
  transition: all 0s !important;
}

.chess .row .cell:first-child {
  border-left: 1px solid transparent;
}

.chess .row .cell.w100 {
  width: 100%;
  float: none;
}

.chess .row .cell.w100::after {
  display: none;
}

.chess .row .cell.ui-selecting {
  background: rgba(69, 138, 182, 0.15);
}

.chess .row .cell.ui-selected {
  background: rgba(69, 138, 182, 0);
}

.chess .row .cell.ui-droppable-hover {
  background: rgba(69, 138, 182, 0.15);
}

.chess .row.top {
  border-top: none;
  height: 59px;
}

.chess .row.top.date-row {
  z-index: 100;
  overflow: visible;
}

.chess .row.top .cell {
  height: 59px;
  border-left: 1px solid transparent;
}

.chess .row.top .cell.first {
  border-left: 1px solid #f2f2f2;
}

.chess .row.top .cell::after {
  display: none;
}

.chess .row.title {
  background: #f8f8f8;
  position: relative;
  z-index: 10;
}

.chess .row.title .cell::after {
  display: none;
}

.chess .row .sidebar-drop {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.chess .row .sidebar-drop.active {
  background: rgba(69, 138, 182, 0.05);
}

.chess .row .sidebar-drop.ui-droppable-hover {
  background: rgba(69, 138, 182, 0.15);
}

.chess .row .disable .sidebar-drop {
  background: rgba(69, 138, 182, 0);
}

.chess .divided .cell::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -.5px;
  width: 1px;
  height: 100%;
  background: #f2f2f2;
}

.chess .date {
  position: relative;
  height: 100%;
  font-size: 14px;
  line-height: 59px;
  text-align: center;
}

.chess .date.weekend {
  color: #e76462;
}

.chess .date-switch {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  margin: -20px 0 0 0;
  height: 40px;
}

.chess .date-switch .switch {
  display: block;
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  height: 40px;
  border: 1px solid #e1e1e1;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #000;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.chess .date-switch .switch b {
  font-size: 18px;
  line-height: 18px;
}

.chess .date-switch .switch.date {
  width: 40px;
  padding-top: 4px;
  color: #458ab6;
}

.chess .date-switch .switch.today {
  margin-left: 10px;
  width: 90px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
}

.chess .date-switch .switch:hover {
  background: rgba(0, 0, 0, 0.05);
}

.chess .date-switch .switch.active {
  background: #fffcde;
}

.chess .date-switch .arrows {
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 35px;
  height: 40px;
}

.chess .date-switch .arrows .button {
  display: block;
  position: absolute;
  top: 0;
  width: 12px;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.chess .date-switch .arrows .button:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5;
}

.chess .date-switch .arrows .prev {
  left: 0;
}

.chess .date-switch .arrows .next {
  right: 0;
}

.chess .date-switch .arrows .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -10px 0 0 0;
  width: 12px;
  height: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.chess .date-switch .arrows .icon.icon-prev {
  background-image: url(../images/ico-calendar-arrow-left.png);
}

.chess .date-switch .arrows .icon.icon-next {
  background-image: url(../images/ico-calendar-arrow-right.png);
}

.chess .date-input {
  display: none;
  position: absolute;
  top: 59px;
  left: -2px;
  width: 100%;
  z-index: 999;
}

.chess .cat {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0 40px 0 20px;
  max-width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 700;
  color: #000;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chess .cat .icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin: -3.5px 0 0 0;
  width: 11px;
  height: 7px;
  background-position: center center;
  background-repeat: no-repeat;
}

.chess .cat .icon.icon-down {
  display: none;
  background-image: url(../images/ico-arrow-down.png);
}

.chess .cat .icon.icon-up {
  display: block;
  background-image: url(../images/ico-arrow-up.png);
}

.chess .cat.rooms-hidden .icon.icon-down {
  display: block;
}

.chess .cat.rooms-hidden .icon.icon-up {
  display: none;
}

.chess .num {
  display: inline-block;
  margin: 0 0 0 20px;
  vertical-align: top;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  color: #000;
}

.chess .rate {
  display: inline-block;
  margin: 0 0 0 20px;
  vertical-align: top;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  color: #80859c;
}

.chess .rate .info {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 10px;
}

.chess .rate .info:first-child {
  margin-left: 0;
}

.chess .rate .icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 9px;
  margin: 0 3px 0 0;
  color: #5b98bf;
}

.chess .count {
  display: block;
  position: relative;
  height: 34px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  text-align: center;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.chess .count.link {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.chess .count.link:hover {
  background: rgba(0, 0, 0, 0.05);
}

.chess .count.active {
  border-color: #458ab6;
}

.chess .count b {
  font-weight: 700;
}

.chess .count .new {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: #7bca5e;
  top: 5px;
  left: 3px;
  margin: 0 3px;
  padding: 0 7px;
  font-size: 12px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: 700;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.chess .price {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chess .rooms-wrapper {
  margin: 0;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.chess .rooms-wrapper.load {
  background: #fff url(../images/load.gif) center center no-repeat;
}

.chess .rooms-wrapper.load * {
  visibility: hidden;
}

.chess .highlighting-day {
  display: block;
  position: absolute;
  z-index: 1;
  top: -60px;
  bottom: 0;
  left: -1000px;
  width: 120px;
  background: #fffcde;
}

.chess .timeline {
  display: block;
  position: absolute;
  z-index: 2;
  top: 90px;
  bottom: 0;
  left: -1000px;
  width: 1px;
  background: #e76462;
}

.chess .timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 4.5px;
  left: 50%;
  margin: 0 0 0 -4.5px;
  border: 4.5px solid transparent;
  border-top: 4.5px solid #e76462;
}

.booking {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0 0 0 60px;
  width: 120px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
  /*&:active {
        @include opacity(.9);
    }*/
}

.booking.ui-draggable-dragging {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
}

.booking.dragging {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5;
}

.booking.hide {
  display: none;
}

.booking .text {
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 50%;
  margin: -15px 0 0 0;
  padding: 0 13px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.booking .text::before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 100%;
  background: url(../images/pattern_wt.png) center center repeat;
}

.booking .text::after {
  content: "";
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 100%;
  background: url(../images/pattern_wt.png) center center repeat;
}

.booking .text .wave {
  display: none;
  position: absolute;
  top: 0;
  margin: 0;
  width: 5px;
  height: 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.booking .text .wave.left {
  left: 0;
  background-image: url(../images/wave-left.png);
}

.booking .text .wave.right {
  right: 0;
  background-image: url(../images/wave-right.png);
}

.booking.new .text {
  background: rgba(69, 138, 182, 0.15);
  border: 1px dashed #458ab6;
}

.booking.in .text {
  background: #7bca5e;
  background: linear-gradient(90deg, #7bca5e, #6cb452);
}

.booking.out {
  cursor: default;
}

.booking.out .text {
  background: #8a9dab;
  background: linear-gradient(90deg, #8a9dab, #697d8c);
}

.booking.confirmed .text {
  background: #45b6ab;
  background: linear-gradient(90deg, #45b6ab, #1c9e91);
}

.booking.not-confirmed .text {
  background: #ed9d3e;
  background: linear-gradient(90deg, #ed9d3e, #d67630);
}

.booking.reserved .text {
  color: #000;
  background: rgba(138, 157, 171, 0.15);
  background: linear-gradient(90deg, rgba(138, 157, 171, 0.15), rgba(105, 125, 140, 0.15));
}

.booking.reserved .text::before {
  display: block !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url(../images/pattern_gr.png);
}

.booking.reserved .text::after {
  display: none !important;
}

.booking.blocked .text {
  color: #000;
  background: rgba(231, 100, 98, 0.15);
  background: linear-gradient(90deg, rgba(231, 100, 98, 0.15), rgba(255, 5, 0, 0.15));
}

.booking.blocked .text::before {
  display: block !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url(../images/pattern_rd.png);
}

.booking.blocked .text::after {
  display: none !important;
}

.booking.early .text {
  left: -48px;
  padding-left: 61px;
}

.booking.early .text::before {
  display: block;
}

.booking.later .text {
  right: -48px;
  padding-right: 61px;
}

.booking.later .text::after {
  display: block;
}

.booking.wave-left .wave.left {
  display: block;
}

.booking.wave-right .wave.right {
  display: block;
}

.new-bookings {
  margin: 20px 0;
}

.new-bookings.load {
  height: 200px;
  background: url(../images/load.gif) center center no-repeat;
}

.new-bookings .item {
  margin: 0;
  padding: 1px 0;
  border-bottom: 1px solid #e1e1e1;
}

.new-bookings .item:first-child {
  border-top: 1px solid #e1e1e1;
}

.new-bookings .booking-wrap {
  margin: 0 18px 10px 18px;
  position: relative;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.new-bookings .booking {
  margin-left: 0;
  min-width: 100%;
  max-width: 100%;
}

.new-bookings .booking.early .text {
  left: 2px;
}

.new-bookings .booking.later .text {
  right: 2px;
}

.new-bookings .booking.ui-draggable-dragging {
  max-width: 2000000px;
  min-width: auto !important;
}

.new-bookings .info {
  margin: 0 20px;
  padding: 5px 0 2px 0;
  font-size: 0;
}

.new-bookings .info .text {
  display: inline-block;
  height: 20px;
  margin: 0 10px 0 0;
  font-size: 12px;
  line-height: 20px;
  color: #80859c;
}

.new-bookings .info .icon {
  display: inline-block;
  margin: 0 5px 0 0;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  color: #77a9c9;
  /*background-position: 0 bottom;
            background-repeat: no-repeat;
            &.ico-date {
                width: 12px;
                background-image: url(../images/ico-calendar.png);
            }
            &.ico-adults {
                width: 6px;
                background-image: url(../images/ico-adults.png);
            }
            &.ico-childs {
                width: 8px;
                background-image: url(../images/ico-childs.png);
            }
            &.channel-booking {
                width: 14px;
                background-image: url(../images/ico-booking.png);
            }*/
}

/*END шахматка*/
/*тарифы*/
.rates-filter {
  margin: 20px;
}

.rates-filter .btn-rates {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background: #458ab6;
  vertical-align: top;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rates-filter .btn-rates:first-child {
  margin-left: 0;
}

.rates-filter .btn-rates:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  opacity: 0.8;
}

.rates-filter .btn-rates .icon {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin: -10px 0 0 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.rates-wrapper {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 100px;
  overflow-y: auto;
}

.rates-list {
  margin: 0;
  padding: 1px 0;
  overflow: hidden;
}

.rates-list .item {
  display: block;
  margin: 15px 20px;
  padding: 0 15px;
  border: 1px solid #e1e1e1;
  height: 60px;
  background: #fff;
}

.rates-list .item:first-child {
  margin-top: 0;
}

.rates-list .item .name {
  display: block;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  color: #80859c;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rates-list .item .info {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #80859c;
}

.rates-list .item.ui-sortable-placeholder {
  visibility: visible !important;
  background: rgba(69, 138, 182, 0.1);
  border-color: rgba(69, 138, 182, 0.2);
}

.rates-list.disabled {
  border-top: 1px solid #458ab6;
  margin-top: 15px;
  padding-top: 30px;
}

.rates-list.disabled .item {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5;
}

.rates-buttons {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
}

/*END тарифы*/
/* ==================
  UI-DATEPICKER
================== */
.ui-datepicker {
  z-index: 999 !important;
  font-size: 12px;
  width: 228px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  padding: .5em .2em;
}

.ui-datepicker .ui-icon {
  margin-left: -3px !important;
  margin-top: -5px !important;
  width: 6px !important;
  height: 10px !important;
  background-size: cover !important;
  background-position: 0 0 !important;
  background-color: transparent;
}

.ui-datepicker .ui-icon.ui-icon-circle-triangle-e {
  background-image: url(../images/ico-calendar-arrow-right.png) !important;
}

.ui-datepicker .ui-icon.ui-icon-circle-triangle-w {
  background-image: url(../images/ico-calendar-arrow-left.png) !important;
}

/* ==================
  END UI-DATEPICKER
================== */
/* ==================
  DATEPICKER
================== */
.calendar-wrapper {
  display: block;
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 100%;
  margin: -2px 0 0 0;
  height: 240px;
  background: #fff;
  visibility: hidden;
}

.calendar-wrapper.open {
  visibility: visible;
}

.calendar-wrapper .calendar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0 12px;
}

.calendar-wrapper .week-header {
  display: block;
  position: absolute;
  left: 12px;
  right: 15px;
  height: 30px;
}

.calendar-wrapper .week-header::before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  right: -15px;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid #d7dee3;
}

.calendar-wrapper .days {
  display: block;
  position: absolute;
  top: 40px;
  bottom: 10px;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.calendar-wrapper .week {
  display: block;
  position: relative;
  margin: 5px 5px 5px 12px;
  height: 30px;
  overflow: hidden;
}

.calendar-wrapper .month {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  height: 20px;
  color: #10293c;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #c8c7cc;
}

.calendar-wrapper .month:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 1px solid transparent;
}

.calendar-wrapper .day {
  display: block;
  position: absolute;
  z-index: 3;
  width: 14%;
  height: 100%;
  cursor: pointer;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  color: #08448a;
}

.calendar-wrapper .day span {
  display: block;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  background: none;
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #10293c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.calendar-wrapper .day.d1 {
  left: 0;
}

.calendar-wrapper .day.d2 {
  left: 14%;
}

.calendar-wrapper .day.d3 {
  left: 28%;
}

.calendar-wrapper .day.d4 {
  left: 42%;
}

.calendar-wrapper .day.d5 {
  left: 56%;
}

.calendar-wrapper .day.d6 {
  left: 70%;
}

.calendar-wrapper .day.d7 {
  left: 84%;
  /*width: 16%;*/
}

.calendar-wrapper .day::before {
  content: "";
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: #f2f2f2;
  opacity: 1;
}

.calendar-wrapper .day::after {
  content: "";
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: #f2f2f2;
  opacity: 1;
}

.calendar-wrapper .day.active span {
  color: #ffffff;
}

.calendar-wrapper .day.start span {
  background: #08448a;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.calendar-wrapper .day.finish span {
  background: #08448a;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.calendar-wrapper .day.hover span {
  background: #f2f2f2;
}

.calendar-wrapper .day.period::before, .calendar-wrapper .day.period::after {
  display: block;
  width: 50%;
}

.calendar-wrapper .day.period.start::after {
  width: 50%;
}

.calendar-wrapper .day.period.start::before {
  display: none;
}

.calendar-wrapper .day.period.finish::before {
  width: 50%;
}

.calendar-wrapper .day.period.finish::after {
  display: none;
}

.calendar-wrapper .day.disable, .calendar-wrapper .day.null {
  cursor: default;
  opacity: .2;
  color: #c8c7cc;
}

/* ==================
  END DATEPICKER
================== */
/*модальные/диалоговые окна*/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.modal.auth {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.modal .modal-content {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -180px 0 0 -295px;
  padding: 15px;
  width: 590px;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.modal .modal-content.small {
  margin-top: -150px;
  margin-left: -155px;
  width: 310px;
}

.modal .modal-content.medium {
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
}

.modal .caption {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.modal .form {
  display: block;
  margin: 0;
  padding: 1px 0;
}

.modal .form.load {
  background: url(../images/load.gif) center center no-repeat;
}

.modal .form.load * {
  visibility: hidden;
}

.modal .period {
  position: relative;
  margin: 15px 0;
}

.modal .period .divide {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -.5px 0 0 -8px;
  width: 16px;
  height: 1px;
  background: #e1e1e1;
}

.modal .field.datein {
  margin: 0;
  float: left;
  width: 125px;
}

.modal .field.dateout {
  margin: 0;
  float: right;
  width: 125px;
}

.modal .info {
  margin: 15px 0 0 0;
  position: relative;
  overflow: hidden;
}

.modal .info .field {
  width: auto;
}

.modal .link {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #80abcb;
}

.modal .link .icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.modal .link .text {
  border-bottom: 1px solid #80abcb;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal .link:hover .text {
  border-color: transparent;
}

.modal p {
  margin: 10px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #80859c;
}

.modal p.success {
  margin: 50px 0;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.fade {
  display: block;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
}

.dialog {
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  margin: 0;
  padding: 15px;
  background: #fff;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.dialog::before {
  content: "";
  display: block;
  position: absolute;
  margin: 0;
  margin: 0;
  border: 6px solid transparent;
}

.dialog.top::before {
  left: 50%;
  margin-left: -6px;
  bottom: -12px;
  border-top: 6px solid #fff;
}

.dialog.bottom::before {
  left: 50%;
  top: -12px;
  margin-left: -6px;
  border-bottom: 6px solid #fff;
}

.dialog.right::before {
  top: 10px;
  left: -12px;
  border-right: 6px solid #fff;
}

.dialog.left::before {
  top: 10px;
  right: -12px;
  border-left: 6px solid #fff;
}

.dialog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dialog ul li {
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
}

.dialog ul li:first-child {
  margin-top: 0;
}

.dialog .link {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #80859c;
  white-space: nowrap;
}

.dialog .link .text {
  border-bottom: 1px solid #bfc2cd;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dialog .link:hover .text {
  border-color: #80859c;
}

.dialog .link .icon {
  display: inline-block;
  margin: 0 10px 0 0;
  color: #458ab6;
}

.modal-table {
  margin: 15px 0;
  overflow: auto;
}

.modal-table table {
  margin: 0;
  width: 100%;
}

.modal-table table th,
.modal-table table td {
  margin: 0;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
  vertical-align: middle;
}

.modal-table table th.align-right,
.modal-table table td.align-right {
  text-align: right;
}

.modal-table table th {
  font-weight: 700;
}

.modal-table .total {
  color: #80859c;
}

.modal-table .sum {
  display: inline-block;
  white-space: nowrap;
}

.modal-table .sum.big {
  padding: 10px 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

/*END модальные окна*/
/*оповещения*/
.alert {
  margin: 15px 0;
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid transparent;
}

.alert:first-child {
  margin-top: 0;
}

.alert.alert-success {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert.alert-info {
  background: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert.alert-warning {
  background: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert.alert-danger {
  background: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert b {
  font-size: 14px;
  font-weight: 700;
}

/*END оповещения*/
@media only screen and (max-width: 1366px) {
  .table.dataTable td {
    font-size: 12px;
    padding: 10px;
  }
}
